<div class="container">
  <mat-card>
    <mat-card-title>Reservation details</mat-card-title>
    <mat-card-subtitle>{{event?.name}} {{event?.date}}</mat-card-subtitle>
    <mat-horizontal-stepper [linear]="'true'" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Select tickets amount</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Tickets amount</mat-label>
            <input type="number" min="1" max="10" matInput formControlName="firstCtrl" required autocomplete="off">
            <mat-icon matSuffix>loyalty</mat-icon>
          </mat-form-field>
          <div>
            <button class="btn-right" mat-button matStepperNext (click)="setSeatsNumberToPick()">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Choose places</ng-template>
<!--          <mat-form-field>-->
<!--            <mat-label>Address</mat-label>-->
<!--            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"-->
<!--                   required>-->
<!--          </mat-form-field>-->
          <div>
            <div>
              Left to pick: {{seatsNumberToPick}}
            </div>
            <p>Front</p>
              <div class="scene ">
              <div class="scene-left-side">
                <div class="row" *ngFor="let row of numberOfRows; let i = index;" [id]="'row-seats' + row">
                  <div class="seat" *ngFor="let col of numberOfColsLeft; let j = index;" [id]="'seat-' + row + '-' + col" (click)="toggggleSelection(i + 1 , j + 1)">
                    {{namesOfRows[i]}}{{numberOfColsLeft[j]}}
                  </div>
                </div>
              </div>
              <div class="scene-right-side">
                <div class="row" *ngFor="let row of numberOfRows; let i = index;" [id]="'row-seats' + row">
                  <div class="seat" *ngFor="let col of numberOfColsRight; let j = index;" [id]="'seat-' + row + '-' + col" (click)="toggggleSelection(i + 1 , j + 11)">
                    {{namesOfRows[i]}}{{numberOfColsRight[j]}}
                  </div>
                </div>
              </div>
            </div>
            <table>
              <tr>Legend</tr>
              <tr>
                <td><div class="seat"></div></td>
                <td>unoccupied</td>
              </tr>
              <tr>
                <td><div class="seat disabled"></div></td>
                <td>occupied</td>
              </tr>
              <tr>
                <td><div class="seat selected"></div></td>
                <td>selected</td>
              </tr>
            </table>
          </div>
          <div>
            <button class="btn-left" mat-button matStepperPrevious>Back</button>
            <button class="btn-right" mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill in your contact data</ng-template>
        <form [formGroup]="thirdFormGroup">
          <mat-form-field appearance="outline" >
            <mat-label>Email address</mat-label>
            <input type="email" matInput formControlName="thirdCtrl" required>
          </mat-form-field>
        </form>
        <div>
          <button mat-button matStepperPrevious class="btn-left">Back</button>
          <button mat-button matStepperNext class="btn-right">Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Summary</ng-template>
        <div>
          <button mat-button matStepperPrevious class="btn-left">Back</button>
          <button mat-button class="btn-right">Confirm</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>
