.container {
  padding: 1px 15px 15px 15px;
}
.button-group {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-bottom: 15px;
}

.details-containter {
  padding: 15px 8px;
}

