<mat-card>
  <p>
    <strong>Films</strong>
  </p>
  <div #events id="events">
  </div>
  <p>
    <strong>Hall</strong>
  </p>
  <mat-tab-group  (selectedTabChange)="setActiveHall($event)" >
    <mat-tab *ngFor="let hall of halls" label="Hall {{hall.id}}">
      <p>
        <strong>Graphic</strong>
      </p>
      <div class='app-calendar'>
        <full-calendar
          #calendar
          defaultView="timeGridWeek"
          [header]="{
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
          }"
          [plugins]="calendarPlugins"
          [events]="calendarEvents"
          [locale]="'pl'"
          [droppable] = true
          contentHeight="auto"
          (dateClick)="handleEvent($event)"
          (eventClick)="handleEventClick($event)"
          (drop)="handleDrop($event)"
          deepChangeDetection="true"
        ></full-calendar>
      </div>
    </mat-tab>
  </mat-tab-group>

</mat-card>
