<mat-card>
  <mat-tab-group>
    <mat-tab label="Hall 1">
      <p>
        <strong>Active shows</strong>
      </p>
      <div #events id="events">
      </div>
      <div class='app-calendar'>
        <full-calendar
          #calendar
          defaultView="timeGridWeek"
          [header]="{
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
          }"
          [plugins]="calendarPlugins"
          [events]="calendarEvents"
          [locale]="'pl'"
          [editable]=true
          [droppable] = true
          contentHeight="auto"
          (dateClick)="handleDateClick($event)"
          (eventDrop)="handleDrop($event)"
          (drop)="handleDrop($event)"
        ></full-calendar>
      </div>
    </mat-tab>
    <mat-tab label="Hall 2">Content 2</mat-tab>
    <mat-tab label="Hall 3">Content 3</mat-tab>
    <mat-tab label="Hall 4">Content 1</mat-tab>
    <mat-tab label="Hall 5">Content 2</mat-tab>
    <mat-tab label="Hall 6">Content 3</mat-tab>
    <mat-tab label="Hall 7">Content 1</mat-tab>
    <mat-tab label="Hall 8">Content 2</mat-tab>
    <mat-tab label="Hall 9">Content 3</mat-tab>
    <mat-tab label="Hall 10">Content 3</mat-tab>
  </mat-tab-group>

</mat-card>
