/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
body {
  display: block;
  margin: 0;
  height: 100%;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.8)!important;
}
