<div class="mat-elevation-z8">
  <mat-card class="details" *ngIf="actualMode == 2">
    <mat-card-title>{{ show.title}}
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-card-subtitle>
        <table>
          <tr>
            <td>Description:</td>
            <td>{{show.description}}</td>
          </tr>
        </table>
      </mat-card-subtitle>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button color="primary" class="delete-button" color="primary">Delete</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="details" *ngIf="actualMode == 0 || actualMode == 1">
    <form [formGroup]="showItemDetails">
      <mat-card-title>
        <mat-form-field class="form-element" appearance="outline">
          <mat-label>name</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-card-subtitle>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea  matInput formControlName="description"></textarea>
          </mat-form-field>
          <mat-divider></mat-divider>
        </mat-card-subtitle>
      </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button color="primary" (click)="saveChanges()">Save</button>
      <button mat-button class="delete-button" color="primary" class="delete-button" color="primary" (click)="discardChanges()">Discard</button>
    </mat-card-actions>
  </form>
  </mat-card>
</div>
