<div class="container">
  <mat-card *ngFor="let item of films">
    <mat-card-title>{{item.title}}</mat-card-title>
      <table>
        <tr>
          <td>Type:</td>
          <td>{{item.type}}</td>
        </tr>
        <tr>
          <td>Director:</td>
          <td>{{item.director}}</td>
        </tr>
        <tr>
          <td>Scenario:</td>
          <td>{{item.scenario}}</td>
        </tr>
        <tr>
          <td>Release date:</td>
          <td>{{item.releaseDate}}</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>{{item.description}}</td>
        </tr>
        <tr>
          <td>Cast:</td>
          <td>{{item.cast}}</td>
        </tr>
        <tr>
          <td>Age limit:</td>
          <td>{{item.ageLimit}}</td>
        </tr>
      </table>
      <div class="upcoming-screenings">
        <span>Reserve:</span>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip
            *ngFor="let screening of item.movieShowProperties"
            color="primary"
            matTooltip="Click to make reservation"
            (click)="makeReservation(screening.id)">{{screening.date}}
          </mat-chip>
        </mat-chip-list>
      </div>
  </mat-card>
</div>
